<div class="footer">
  <p jhiTranslate="footer">
    <span>🚀 Explore, Discover, and Dive into the World of Insights! Thanks for being a part of our blogging journey. 📚✨</span>
    <span>Stay curious, stay inspired! ✍️✨ #BlogLife #InspirationStation #HappyReading</span>
    <br />
    <span>📧 Contact Us: <a href="mailto:info@yourblog.com">info&#64;yourblog.com</a></span>
    <span>📞 Follow us on Twitter: <a href="https://twitter.com/YourBlogHandle" target="_blank">&#64;YourBlogHandle</a></span>
    <span>🌐 Visit our website: <a href="https://www.yourblog.com/contact" target="_blank">www.yourblog.com/contact</a></span>
  </p>
</div>
